@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.scrol {
    height: 0px;
    
}

.menu.active {
    background: #ffffff;
    padding: 20px;
    filter: drop-shadow(
    0 0 10px rgba(0, 0, 0, 0.8)
    );
    z-index: 10
}

.active.menu.nav ul li a{
    color: #000000;

}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.3)
    ), url(imagen1/almacen.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    
}

.menu {
    background: #ffffff;
    position: fixed;
    /*position: absolute;*/
    margin: 0 auto;
    padding: 7px 10px 0 10px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.8s ease;
}

.menu .nav ul li {
    position: relative;
    float: left;
}

.menu .nav ul li a {
    font-size: 20px;
    padding: 20px;
    color: #000000;
    display: block;
    font-weight: 600;
}

.menu .nav ul li a:hover {
    color: #4a71dd;
}
.logo {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}
/* img*/
.logo img {
    filter: drop-shadow(
        0 0 10px rgb(0, 0, 0)
    );
    width: 120px;
    height: auto;
    padding: 0 0 0 25px;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 { 
    font-size: 55px;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-top: 40px;
}

.header-content p {
    font-size: 20px;
    color: #fff;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #33742e;
    text-transform: uppercase;
    border-radius: 50px;
    color: #ffffff;
}

.btn-1:hover {
    background-color: #5eaf63;
}


.info {
    padding: 60px 0px;
    display: flex;
    align-items: center;
}

.info-img {
    width: 50%;

}

.info-img img {
    width: 450px;
    height: 450px;
}

.info-txt {
    width: 70%;
}

.info-txt h2 {
    margin-top: 70px;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.info-txt h1 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 15px;
}

.info-txt p {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 50px;
}


#productos {
    padding: 20px;
    text-align: center;
}

.carousel {
    margin: 20px 0;
}

.carousel h3 {
    padding: 25px;
    text-align: left;
    margin-left: 15px;
    font-weight: bold;
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
}

.product-container {
    display: flex;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    flex-shrink: 0;
}

.product-card:hover {
    transform: scale(1.05);
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Botones de navegación */
.prev, .next {
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
    border: none;
    background: none;
}

.prev { margin-right: 10px; }
.next { margin-left: 10px; }

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.product-card .tamaño {
    height: 90px;
    width: 150px;
}

.carousel img {
    width: 90px;
}





.footer {
    padding: 45px 0px;
    display: flex;
    justify-content: space-between;
}

/* img */
.footer img {
    width: 150px;
    height: 150px;
}

.footer ul img {
    width: 150px;
    height: auto;
}

.footer p {
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
}


.links h4 {
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.links ul li a {
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
}



.btn-ver-mas {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007bff; /* Color azul */
    text-decoration: none; /* Eliminar el subrayado */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.btn-ver-mas:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
}




@media(max-width: 991px) {
    .menu {
        padding: 25px;
        justify-content: space-between;
    }

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 100px;
    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
    }

    .menu .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff;
        display: none;
    }

    .menu .nav ul li {
        width: 100%;
    }

    #menu:checked ~ .nav {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 100px 10px;
    }

    .header-content p {
        padding: 0;
    }


    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }




    .product-card {
        width: 200px;
    }

    .img-class {
        max-width: 100px;
        max-height: 100px;
    }

    .prev, .next {
        width: 30px;
        font-size: 16px;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .footer img {
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }

}

