@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: rgb(170, 70, 201);
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: 800px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: yellow;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: rgb(85, 94, 47);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    width: 50%;
    margin-right: 80px;
}

.header-txt h1 {
    color: white;
    font-size: 55px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.header-img {
    width: 50%;
    text-align: center;
}

.btn-1 {
    display: inline-block;
    padding: 20px 50px;
    color: white;
    border: 1px solid #fff9fa;
    border-radius: 35px;
}

.btn-1:hover {
    background-color: #ffbd4c;
    border: 1px solid #ffbd4c;
}

.m-content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

}

.m-content img {
    width: 150px;
}

.cards {
    padding: 100px 0;
    background-color: white;
}

.cards-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(33.3% - 20px);
    display: flex;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
    background-color: white;
    border-radius: 15px;
}

.card-text {
    width: 50%;
    margin-right: 15px;
}

.card-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.card-text p {
    font-size: 15px;
    color: black;
}

.card-img {
    width: 50%;
}

.app {
    background-color: #808080;
}

.app-content {
    display: flex;
    padding: 100px 0;
}

.app-text {
    width: 50%;
}

.app-text h2 {
    font-size: 55px;
    color: white;
    margin-bottom: 35px;
}

.app-text p {
    color: white;
    margin-bottom: 45px;
}

.app-dow {
    display: flex;
}

.app-dow img {
    width: 180px;
}

.app-img {
    text-align: center;
    width: 50%;
}

.footer {
    padding: 50px 0;
    background-color: indianred;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.link a {
    color: white;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: darksalmon;
}

@media (max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(173, 0, 72);
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #808080;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 30px;
        flex-direction: column;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }

    .header-img {
        width: 100%;
    }

    .m-content {
        display: none;
    }

    .cards {
        padding: 30px;
    }

    .cards-content {
        flex-direction: column;
    }

    .app-content {
        padding: 30px;
        flex-direction: column;
    }

    .app-text {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }

    .app-txt h2 {
        margin-bottom: 15px;
    }

    .app-dow {
        justify-content: center;
    }

    .app-img {
        width: 100%;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}